body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
}

.container>* {
    /* wraps every grid item in a dashed border box */
    border: 1px black dashed;
    /* display: block; */
    margin: 10px;

}

/*  our grid  */
.main { /* parent class */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    /* align-items: stretch; */
    overflow: scroll;
}

.card { /* grid elements (this case it'd be flex items) */
    padding: 10px;
    margin: 10px;
    /* width: 75px; */
    height: 250px;  
    /* flex-basis: 25%; */
    background-color: tan;

}

.btn-groups {
    text-align: center;
    margin: 5px;

}
.btn-groups #placement-btns {
    visibility: hidden;
}

@media (min-width:400px) {
    .container {
        grid-template-columns: 40% 60%;
        grid-template-rows: 80% 20%;
        height: 100vh;

        /*        40% | 60%
                 --------------   1
            60%  | SB | Main | 
            |    |    |      | 
            |    --------------   2
            40%  | FL | Btns | 
                 --------------   3
                 1    2      3
            */


        /* Lines to test media and selections */
        /* color: blue; */
    }

    .left-section {
        /* grid Placement */
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;

    }

    .fliters {
        /* Left to Right */
        grid-column-start: 1;
        grid-column-end: 2;
        /* Top to bottom */
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .main {
        /* grid placement */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;



    }
    


    .btn-groups #placement-btns {
        visibility: visible;
    }
}